/*Overall*/

:root {
   --takeno_green: #4f7165;
   --deep_green: #2b3a36;
   --cinnabar: #ff3300;
   --10White: #e6e6e6;
   --90Black: #1a1a1a;

   color-scheme: light dark;

   font-family: "Kode Mono", monospace;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

hr {
   margin-top: 10px;
   margin-bottom: 10px;
}

.profileAccent{
   color: var(--takeno_green);
}

@media (prefers-color-scheme: light) {
   body { background-color: var(--10White); }
}

@media (prefers-color-scheme: dark) {
   body { background-color: var(--90Black); }
}

/*mainContainer*/
.mainContainer{
   display: flex;
   gap: 56px;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   height: 100vh;
}

/*symbolContainer*/

.symbolContainer{
   
}


.icon{ width: 128px; }

@media screen and (min-width:768px) and ( max-width:1024px) {

}
@media screen and (min-width:1024px)  {

}

/*buttonContainer*/

.buttonContainer{
   display: flex;
   gap: 16px;
   justify-content: space-between;
   margin-top: 24px;
}

.linkbutton{
   display: flex;
   align-items: center;
   width: 42px;
   height: 42px;
}

@media (prefers-color-scheme: light) {
   .linkbutton { border: 1px solid var(--90Black); }
}

@media (prefers-color-scheme: dark) {
   .linkbutton { border: 1px solid var(--10White); }
}

.buttonimg {
   display: flex;
   justify-content: center;
 }

.buttonimg img{
   width: 60%;
   height: 60%;
}