/*Overall*/

:root {
   --light_green: #88a69c;
   --green: #4f7165;
   --dark_green: #2b3a36;
   --cinnabar: #ff3300;
   --10White: #e6e6e6;
   --90Black: #1a1a1a;

   color-scheme: light dark;

   font-family: "Kode Mono", monospace;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

hr {
   margin-top: 10px;
   margin-bottom: 10px;
}

@media (prefers-color-scheme: light) {
   body { background-color: var(--10White); }
   .profileAccent { color: var(--green); }
}

@media (prefers-color-scheme: dark) {
   body { background-color: var(--90Black); }
   .profileAccent { color: var(--light_green); }
}

/*mainContainer*/
.mainContainer{
   display: flex;
   column-gap: 56px;
   row-gap: 32px;
   height: 100svh;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;

}

/**symbolContainer**/

.Symbol{ width: 128px; }


/**profileContainer**/
/***listContainer***/
/***buttonContainer***/

.buttonContainer{
   display: flex;
   gap: 16px;
   justify-content: space-between;
   margin-top: 24px;
}

.linkbutton{
   display: flex;
   align-items: center;
   width: 42px;
   height: 42px;
   border: 1px solid;
}

@media (prefers-color-scheme: light) { .linkbutton { border-color: var(--90Black); } }
@media (prefers-color-scheme: dark) { .linkbutton { border-color: var(--10White); } }
#misskeyio-button:hover{ background-color: rgba(150, 208, 74, 0.5); }
#github-button:hover{ background-color: rgba(106, 110, 115, 0.5); }
#steam-button:hover{background-color: rgba(0, 173, 239, 0.5); }
#psn-button:hover{ background-color: rgba(8, 73, 159, 0.5); }
#youtube-button:hover{ background-color: rgba(255, 0, 0, 0.5); }

.buttonimg {
   display: flex;
   justify-content: center;
 }

.buttonimg img{
   width: 60%;
   height: 60%;
}