/*Overall*/

:root {
   color-scheme: light dark;

   --green_light: #88a69c;
   --green: #4f7165;
   --green_dark: #2b3a36;
   --cinnabar: #ff6039;
   --Black_10: #e6e6e6;
   --Black_50: #808080;
   --Black_90: #1a1a1a;

   font-family: "Kode Mono", monospace;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;

   line-height: 160%;

   user-select: none
}

@media (prefers-color-scheme: light) {
   body { background-color: var(--Black_10); }
   .profileAccent { color: var(--green); }
}

@media (prefers-color-scheme: dark) {
   body { background-color: var(--Black_90); }
   .profileAccent { color: var(--green_light); }
}

/*Container*/
.Container{
   height: 100svh;
   align-content: center;
}

/**mainContainer**/
.mainContainer{
   display: flex;
   gap: 48px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 25px;

   @media screen and (orientation: portrait) {
      flex-direction:column;
      text-align: center;
   }
}

/***symbolContainer***/
.Symbol{ width: 96px; }

a:hover,u:hover{
   color:var(--cinnabar);
 }

/**ButtonContainer**/

.ButtonContainer {
   position: absolute;
   top: 75%;
   left: 50%;
   transform: translateX(-50%);
}

/**linkContainer**/

.linkContainer {
   display: none;
   position: absolute;
   text-align: center;
   top: 75%;
   left: 50%;
   transform: translateX(-50%);
}

h1 {
   text-align: left;
}

button{
   text-align: left;
   font-size: 12px;
}