/*Overall*/

:root {
   color-scheme: light dark;

   --color_white: #E5E6ED;
   --color_gray: #808080;
   --color_black: #101115;

   --color_Personalblue: #99a8ff;
   --color_misskeyio: #91c948;

   font-family: "Kode Mono", monospace;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;

   line-height: 180%;

   user-select: none
}

@media (prefers-color-scheme: light) {
   body { 
      color: var(--color_black);
      background-color: var(--color_white); 
   }
}

@media (prefers-color-scheme: dark) {
   body { 
      color: var(--color_white);
      background-color: var(--color_black); 
   }
}

/*Container*/
.Container{
   height: 100svh;
   align-content: center;
}

/**mainContainer**/
.mainContainer{
   display: flex;
   gap: 48px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 0px 25px 0px 25px;

   @media screen and (orientation: portrait) {
      flex-direction:column;
      text-align: center;
   }
}

.Symbol{ width: 84px; }

/** btn**/

[class^="btn-"] { 
   display:inline-block;
   width: 170px;
   margin: 2px 5px;
   text-align: left;
   font-size: 14px;
   color:var(--color_gray);
}

.btn-index:before { content: "→ docs.takeno.tech"; }
.btn-io:before { content: "→ misskey.io"; }

.btn-index:hover::before {
   content: "→ docs.takeno.tech";
   text-decoration:underline;
   color:var(--color_Personalblue);
}

.btn-io:hover::before {
   content: "→ misskey.io";
   text-decoration:underline;
   color:var(--color_misskeyio);
}

/* coffee animation */
.coffee-container {
    position: relative; 
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 0.5em;
    margin-left: 1px;
}

.coffee-container .coffee-cup { margin-right: 3px; }
.coffee-container .coffee-text { margin-left: 3px; }

.coffee-container .steam {
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 100%;
    opacity: 0;
    filter: blur(2px);
}

.coffee-container .steam-1 {
    top: -2px;
    left: 6px;
    animation: steam-animation-1 6s linear infinite;
}

.coffee-container .steam-2 {
    top: -6px;
    left: 11px;
    animation: steam-animation-2 6s linear infinite;
}

@keyframes steam-animation-1 {
    0% { opacity: 0; transform: translateY(0); }
    25% { opacity: 0.7; transform: translateY(-5px); }
    100% { opacity: 0; transform: translateY(-20px); }
}

@keyframes steam-animation-2 {
    0% { opacity: 0; transform: translateY(0); }
    25% { opacity: 1; transform: translateY(-5px); }
    100% { opacity: 0; transform: translateY(-20px); }
}